*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.painel {
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
    padding-top: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2 {
    color: #fff;
}

#sim{
    height: 40px;
    width: 60px;
    color: #fff;
    background-color: rgb(197, 7, 39);
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: -50px;
}

#sim:hover{
    transform: scale(1.1);
}

#nao{
    position: absolute;
    height: 40px;
    width: 60px;
    color: #fff;
    background-color: rgb(197, 7, 39);
    border: 1px solid #000;
    border-radius: 10px;
    margin-left: 10px;
}

.fundo-video {
    background-color: black;
    position: absolute;
    z-index: -1; 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}

audio {
    padding: 10px;
}

.audio {
    display: grid;
    place-items: center;

}